@use "../core/module";

/// Applies common base styles for HTML elements
/// @output Styles for root elements and common HTML tags
/// @termeh {Color} [white] - var("base", "color")
/// @termeh {Color} [black] - var("base", "foreground")
/// @termeh {Color} [null] - var("base", "section")
/// @termeh {Color} [null] - var("base", "separator")
/// @termeh {Color} [error] - color("primary")
/// @termeh {Color} [null] - variant("primary", "readable")
/// @termeh {Color} [null] - variant("primary", "active")
/// @termeh {Color} [null] - variant("primary", "foreground")
/// @termeh {Number} [error] - size("small")
/// @termeh {List} [null] - var("font", "family")
/// @termeh {Number} [12px] - var("font", "size")
/// @termeh {String} [normal] - var("font", "weight")
/// @termeh {List} [null] - var("mono", "family")
/// @termeh {Number} [null] - var("mono", "size")
/// @termeh {String} [null] - var("mono", "weight")
/// @termeh {Color} [null] - var("strong", "froeground")
/// @termeh {String} [bold] - var("strong", "weight")
/// @termeh {Number} [8px] - var("gap", "micro")
/// @termeh {Number} [1.6rem] - var("gap", "macro")
/// @termeh {String} [ltr] - var("base", "direction")
/// @termeh {Number} [300px] - var("base", "min-width")
/// @termeh {Number} [1.6rem] - var("line-height", "normal")
/// @termeh {Number} [null] - var("radius", "normal")
@mixin use-base() {
    $base-color: module.var("base", "color", white);
    $base-foreground: module.var("base", "foreground", black);
    $base-section: module.var("base", "section");
    $base-separator: module.var("base", "separator");

    $primary-color: module.color("primary");
    $primary-readable: module.variant("primary", "readable");
    $primary-background: module.variant("primary", "active");
    $primary-foreground: module.variant("primary", "foreground");

    $size-small: module.size("small");
    $font-family: module.var("font", "family");
    $font-size: module.var("font", "size", 12px);
    $font-weight: module.var("font", "weight", normal);

    $mono-family: module.var("font", "family");
    $mono-size: module.var("font", "size");
    $mono-weight: module.var("font", "weight");

    $strong-color: module.var("strong", "foreground");
    $strong-weight: module.var("strong", "weight", bold);

    $gap-micro: module.var("gap", "micro", 8px);
    $gap-macro: module.var("gap", "macro", 1.6rem);
    $direction: module.var("base", "direction", ltr);
    $min-width: module.var("base", "min-width", 300px);
    $line-normal: module.var("line-height", "normal", 1.6em);
    $radius-normal: module.var("radius", "normal");

    @at-root {
        :root {
            font-size: $font-size;
        }

        ::selection {
            color: $primary-foreground;
            background-color: $primary-background;
        }

        html {
            overflow: hidden auto;
            scroll-behavior: smooth;
            font-family: $font-family;
            font-size: $font-size;
            font-weight: $font-weight;
            text-size-adjust: 100%;
            text-rendering: optimizelegibility;
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            direction: $direction;
            min-width: $min-width;
            background-color: $base-color;

            @include module.scrollable($primary-color);
        }

        article,
        aside,
        figure,
        footer,
        header,
        hgroup,
        section {
            display: block;
        }

        blockquote {
            display: block;
            padding: $gap-macro;
            margin: $gap-macro;
            border-radius: $radius-normal;
            background-color: $base-section;
        }

        body,
        button,
        input,
        optgroup,
        select,
        textarea,
        select option {
            font-size: 1rem;
            font-family: $font-family;
        }

        body {
            color: $base-foreground;
            line-height: $line-normal;
        }

        select {
            appearance: menulist;
            -moz-appearance: menulist;
            -webkit-appearance: menulist;
        }

        code,
        pre {
            direction: ltr;
            padding: $gap-macro;
            font-size: $mono-size;
            font-family: $mono-family;
            font-weight: $mono-weight;
            background-color: $base-section;
            -moz-osx-font-smoothing: auto;
            -webkit-font-smoothing: auto;
        }

        strong {
            color: $strong-color;
            font-weight: $strong-weight;
        }

        a {
            cursor: pointer;
            text-decoration: none;
            color: $primary-readable;

            strong {
                color: $primary-readable;
            }

            &:hover {
                text-decoration: underline;
            }
        }

        hr {
            display: block;
            border: none;
            height: 1px;
            background-color: $base-separator;

            @include module.marged(false) {
                margin: $gap-macro 0;
            }
        }

        input[type="checkbox"],
        input[type="radio"] {
            vertical-align: baseline;
            accent-color: $primary-color;
        }

        small {
            font-size: $size-small;
        }

        span {
            font-style: inherit;
            font-weight: inherit;
        }

        fieldset {
            border: none;
        }

        pre {
            white-space: pre;
            word-wrap: normal;
            overflow-x: auto;

            @include module.scrollable($primary-color);
            @include module.overflow-touch();

            code {
                padding: 0;
                font-size: 1em;
                color: currentcolor;
                background-color: transparent;
            }
        }

        table {
            th {
                color: $strong-color;
            }

            td,
            th {
                vertical-align: top;

                &:not([align]) {
                    text-align: inherit;
                }
            }
        }

        p,
        ol,
        ul {
            @include module.marged() {
                margin-bottom: $gap-macro;
            }
        }

        ul li {
            position: relative;
            padding-right: 2em;

            @include module.marged() {
                margin-bottom: $gap-micro;
            }

            &::before {
                content: "—";
                position: absolute;
                right: 0;
                color: $base-separator;
            }
        }
    }
}
