@use "../core/module";

/// Applies consistent styles to heading elements.
///
/// @require {Variable<Length>} var("gap", "macro") - Heading bottom margin
/// @require {Variable<Length>} var("line-height", "large") - Line height for `h1` and `h2`
/// @require {Variable<Length>} var("line-height", "medium") - Line height for `h3` and `h4`
/// @require {Variable<Length>} var("line-height", "normal") - Line height for `h5` and `h6`
/// @require {Variable<Length>} size("massive") - `h1` font size @throw on missing
/// @require {Variable<Length>} size("huge") - `h2` font size @throw on missing
/// @require {Variable<Length>} size("big") - `h3` font size @throw on missing
/// @require {Variable<Length>} size("large") - `h4` font size @throw on missing
/// @require {Variable<Length>} size("medium") - `h5` font size @throw on missing
/// @require {Variable<Length>} size("normal") - `h6` font size @throw on missing
@mixin use-heading() {
    @if not module.module-presented("heading") {
        @include module.present-module("heading");

        $gap-macro: module.var("gap", "macro");

        $line-large: module.var("line-height", "large");
        $line-medium: module.var("line-height", "medium");
        $line-normal: module.var("line-height", "normal");

        $size-massive: module.size("massive");
        $size-huge: module.size("huge");
        $size-big: module.size("big");
        $size-large: module.size("large");
        $size-medium: module.size("medium");
        $size-normal: module.size("normal");

        @at-root {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                font-weight: bold;

                @include module.marged() {
                    margin-bottom: $gap-macro;
                }
            }

            h1 {
                font-size: $size-massive;
                line-height: $line-large;
            }

            h2 {
                font-size: $size-huge;
                line-height: $line-large;
            }

            h3 {
                font-size: $size-big;
                line-height: $line-medium;
            }

            h4 {
                font-size: $size-large;
                line-height: $line-medium;
            }

            h5 {
                font-size: $size-medium;
                line-height: $line-normal;
            }

            h6 {
                font-size: $size-normal;
                line-height: $line-normal;
            }
        }
    }
}
