@use "../core/module";

/// Applies image styles and size variants.
///
/// @param {List} $sizes [()] - Registered size names to include; `null` includes all registered sizes
///
/// @require {Variable<Length>} var("radius", "normal") - Rounded image border radius
/// @require {Variable<Length>} var("radius", "circle") - Circular image border radius
@mixin use-image($sizes: ()) {
    @if not module.module-presented("image") {
        @include module.present-module("image");

        $radius-normal: module.var("radius", "normal");
        $radius-circle: module.var("radius", "circle");

        @at-root {
            img {
                &.is-centered {
                    margin: auto;
                }

                &.is-rounded {
                    border-radius: $radius-normal;
                }

                &.is-circular {
                    border-radius: $radius-circle;
                }

                @each $name, $size in module.sizes($includes: $sizes) {
                    &.is-#{$name} {
                        width: $size;
                    }
                }
            }
        }
    }
}
