@use "../core/module";

/// Applies image styles and size classes
/// @param {List} $sizes [()] - List of registered size names to include. Pass null to include all registered sizes
///
/// @termeh {Number} [null] - var("radius", "normal") -> default rounded border radius for images
/// @termeh {Number} [50%] - var("radius", "circle") -> circular border radius for images
@mixin use-image($sizes: ()) {
    @if not module.module-presented("image") {
        @include module.present-module("image");

        $radius-normal: module.var("radius", "normal");
        $radius-circle: module.var("radius", "circle", 50%);

        @at-root {
            img {
                &.is-centered {
                    margin: auto;
                }

                &.is-rounded {
                    border-radius: $radius-normal;
                }

                &.is-circular {
                    border-radius: $radius-circle;
                }

                @each $name, $size in module.sizes($includes: $sizes) {
                    &.is-#{$name} {
                        width: $size;
                    }
                }
            }
        }
    }
}
