@use "../core/module";

/// Generates field element styles with configurable colors.
/// @param {List} $colors [()] - Registered color names for which to generate modifier styles. Pass null to include all registered colors.
///
/// @param {Color} [null] variant("shade", "readable") - Text color for help text.
/// @param {Color} [null] variant("primary", "readable") - Default color for the required-field indicator.
/// @param {Color} [null] variant("error", "readable") - Text color for validation errors.
///
/// @param {Number} [8px] var("gap", "micro") - Bottom spacing between field contents, excluding help and error elements.
/// @param {Number} [1.6em] var("gap", "macro") - Bottom margin after each field.
/// @param {Font Weight} [bold] var("strong", "weight") - Font weight of the required-field indicator.
@mixin use-field($colors: ()) {
    @if not module.module-presented("form-field") {
        @include module.present-module("form-field");

        $shade-readable: module.variant("shade", "readable");
        $primary-readable: module.variant("primary", "readable");
        $error-readable: module.variant("error", "readable");

        $gap-micro: module.var("gap", "micro", 8px);
        $gap-macro: module.var("gap", "macro", 1.6em);
        $strong-weight: module.var("strong", "weight", bold);

        @at-root {
            .field {
                display: block;

                @include module.marged() {
                    margin-bottom: $gap-macro;
                }

                > * {
                    @include module.marged(".help", ".error") {
                        margin-bottom: $gap-micro;
                    }
                }

                > label,
                .help {
                    display: block;
                }

                .help {
                    color: $shade-readable;
                }

                .error {
                    display: none;
                    color: $error-readable;
                }

                &.is-required {
                    > label::after,
                    .field-label::after {
                        content: " *";
                        color: $primary-readable;
                        font-weight: $strong-weight;
                    }
                }

                @each $name, $color in module.colors($includes: $colors) {
                    &.is-#{$name} {
                        &.is-required {
                            > label::after,
                            .field-label::after {
                                color: module.variant($name, "readable");
                            }
                        }

                        @include module.selection($name);
                    }
                }

                &:invalid,
                &.is-failed {
                    .error {
                        display: block;
                    }
                }
            }
        }
    }
}
