@use "../core/module";

/// Generates fieldset element styles
///
/// @termeh {Color} [null] - var("base", "separator") -> fallback border color
/// @termeh {Number} [null] - var("radius", "normal") -> default fieldset border radius
/// @termeh {Number} [1.6em] - var("gap", "macro") -> default inner padding and bottom margin for fieldset
/// @termeh {String} [normal] - var("input", "legend") -> legend element font weight
/// @termeh {Color} [FALLBACK] - var("input", "border") -> fieldset border color
@mixin use-fieldset() {
    $separator: module.var("base", "separator");
    $radius: module.var("radius", "normal");
    $gap-macro: module.var("gap", "macro", 1.6em);

    $legend: module.var("input", "legend", normal);
    $border: module.var("input", "border", $separator);

    @at-root {
        fieldset {
            padding: $gap-macro;
            border-radius: $radius;
            border: 1px solid $border;

            @include module.marged() {
                margin-bottom: $gap-macro;
            }

            legend {
                line-height: 1em;
                font-weight: $legend;
                padding: module.inline-padding();
            }
        }
    }
}
