@use "../../../termeh";

.custom-block {
    &.termeh {
        margin: 1rem 0;
        padding: 0.5rem 16px;
        border-radius: 0;
        background: none;
        border: 1px solid var(--vp-c-divider);
        border-top: 3px solid var(--vp-home-hero-name-color);

        summary {
            gap: 1rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0;
            padding: 4px 0;
            cursor: pointer;
            font-weight: 500;
            list-style: none;

            img {
                width: 1rem;
                height: 1rem;
            }

            .title {
                flex: 1;
                font-weight: 600;
            }
        }

        .termeh-arrow {
            transform: rotate(0deg);
            border: solid var(--vp-home-hero-name-color);
            border-width: 0 2px 2px 0;
            padding: 2px;
            transform-origin: center;
            transition: transform 0.2s ease;
            rotate: 45deg;
        }

        &[open] .termeh-arrow {
            transform: rotate(180deg);
        }
    }
}
