@use "sass:map";
@use "sass:math";
@use "util";

$-breakpoints: (
    "tablet": 769px,
    "desktop": 1024px,
    "widescreen": 1216px,
    "fullhd": 1408px,
) !default;
$-available: map.keys($-breakpoints);

/// Gets breakpoint value by name.
///
/// @param {String} $name - Breakpoint name
/// @return {Number} Breakpoint value
/// @throw If the input is not a string or if the breakpoint is not found
@function breakpoint($name) {
    $name: util.string-of($name, "breakpoint", "name");
    @if not map.has-key($-breakpoints, $name) {
        @error "Breakpoint '#{$name}' not found. Available: #{$-available}";
    }

    @return map.get($-breakpoints, $name);
}

/// Gets all breakpoints.
///
/// @return {Map<String, Number>} All breakpoints
@function breakpoints() {
    @return $-breakpoints;
}

/// Applies styles at and above a breakpoint.
///
/// @content Styles to apply
/// @param {String} $device - Breakpoint name
/// @throw If the input is not a string or if the breakpoint is not found
@mixin from($device) {
    $device: util.string-of($device, "from", "device");
    @if not map.has-key($-breakpoints, $device) {
        @error "Breakpoint '#{$device}' not found. Available: #{$-available}";
    }

    @media screen and (min-width: breakpoint($device)) {
        @content;
    }
}

/// Applies styles below a breakpoint.
///
/// @content Styles to apply
/// @param {String} $device - Breakpoint name
/// @throw If the input is not a string or if the breakpoint is not found
@mixin until($device) {
    $device: util.string-of($device, "until", "device");
    @if not map.has-key($-breakpoints, $device) {
        @error "Breakpoint '#{$device}' not found. Available: #{$-available}";
    }

    @media screen and (max-width: math.sub(breakpoint($device), 1px)) {
        @content;
    }
}
