@use "sass:map";
@use "util";
@use "scheme" as scm;

$-gaps: () !default;
$-overrides: () !default;

/// Defines a new gap
/// @param {String} $name - Gap name (e.g. "small", "medium")
/// @param {Number} $gap - Gap value (e.g. 8px, 1rem)
///
/// @throws If the input name is not a string or the input gap is not a number
@mixin define-gap($name, $gap) {
    $name: util.string-of($name, "define-gap", "name");
    $gap: util.number-of($gap, "define-gap", "gap");

    $-gaps: map.set($-gaps, $name, $gap) !global;
}

/// Overrides an existing gap for a specific scheme
/// @param {String} $scheme - Scheme name (e.g. "dark", "light")
/// @param {String} $name - Gap name (e.g. "small", "medium")
/// @param {Number} $gap - Gap value (e.g. 8px, 1rem)
///
/// @throws If the input scheme or name is not a string, if the input gap is not a number, or if the gap is not defined in main scheme
@mixin override-gap($scheme, $name, $gap) {
    $scheme: util.string-of($scheme, "override-gap", "scheme");
    $name: util.string-of($name, "override-gap", "name");
    $gap: util.number-of($gap, "override-gap", "gap");
    @if not map.has-key($-gaps, $name) {
        @error "Gap '#{$name}' not defined!";
    }

    $gaps: util.alter($-overrides, $name, ());
    $gaps: map.set($gaps, $scheme, $gap);

    $-overrides: map.set($-overrides, $name, $gaps) !global;
    $_: scm.define-scheme($scheme);
}

/// Gets the value of a gap by name
/// @param {String} $name - Gap name
/// @return {Number} Gap value
///
/// @throws If the input name is not a string or if the gap is not found
@function gap-value($name) {
    $name: util.string-of($name, "gap-value", "name");
    @if not map.has-key($-gaps, $name) {
        @error "Gap '#{$name}' not defined!";
    }

    @return map.get($-gaps, $name);
}

/// Gets the value of a gap for a specific scheme
/// This function will return main scheme gap as fallback
/// @param {String} $scheme - Scheme name (e.g. "dark", "light")
/// @param {String} $name - Gap name (e.g. "small", "medium")
/// @return {Number} Gap value
///
/// @throws If the input scheme or name is not a string, or if the gap is not defined in the main scheme
@function scheme-gap($scheme, $name) {
    $scheme: util.string-of($scheme, "scheme-gap", "scheme");
    $name: util.string-of($name, "scheme-gap", "name");
    @if not map.has-key($-gaps, $name) {
        @error "Gap '#{$name}' not defined!";
    }

    $gap: map.get($-overrides, $name, $scheme);
    @if $gap == null {
        $gap: map.get($-gaps, $name);
    }

    @return $gap;
}

/// Returns the CSS variable reference for a gap by its name
/// @param {String} $name - Gap name
/// @return {Number} Gap value
///
/// @throws If the input name is not a string or if the gap is not found
@function gap($name) {
    $name: util.string-of($name, "gap", "name");
    @if not map.has-key($-gaps, $name) {
        @error "Gap '#{$name}' not defined!";
    }

    $token: "gap-#{$name}";
    $value: map.get($-gaps, $name);
    $_: scm.define-variable($token, $value);

    @each $scheme in scm.schemes() {
        $-value: map.get($-overrides, $name, $scheme);
        $_: scm.define-variable($token, $-value, $scheme);
    }

    @return scm.variable($token, $value);
}

/// Gets filtered map of gaps
/// @param {List} $includes [null] - Gaps to include
/// @param {List} $excludes [null] - Gaps to exclude
/// @return {Map} Filtered gaps
@function gaps($includes: null, $excludes: null) {
    $-defs: map.keys($-gaps);
    $includes: util.list-safe($includes, "gaps", "includes", $-defs);
    $excludes: util.list-safe($excludes, "gaps", "excludes", ());

    $result: ();
    @each $name, $gap in $-gaps {
        @if util.should-include($name, $includes, $excludes) {
            $token: "gap-#{$name}";
            $_: scm.define-variable($token, $gap);

            @each $scheme in scm.schemes() {
                $-value: map.get($-overrides, $name, $scheme);
                $_: scm.define-variable($token, $-value, $scheme);
            }

            $result: map.set($result, $name, scm.variable($token, $gap));
        }
    }
    @return $result;
}
