@use "sass:map";
@use "sass:list";
@use "util";

$-tokens: () !default;
$-schemes: () !default;

@function -resolve-scheme($scheme) {
    @if $scheme == null {
        @return "__base__";
    }

    @return $scheme;
}

/// Defines a color scheme.
/// @param {String} $name - Color scheme name
///
/// @throws Input name is not a string
@function define-scheme($name) {
    $name: util.string-of($name, "define-scheme", "name");

    @if list.index($-schemes, $name) == null {
        $-schemes: list.append($-schemes, $name) !global;
    }

    @return null;
}

/// Returns all defined color schemes.
/// @return {List} Defined color schemes
@function schemes() {
    @return $-schemes;
}

/// Defines a CSS variable and associates it with a color scheme.
/// @param {String} $name - CSS variable name
/// @param {*} $value - CSS variable value
/// @param {String} $scheme [null] - Color scheme name
///
/// @throws Input name is not a string
@function define-variable($name, $value, $scheme: null) {
    $name: util.string-of($name, "define-variable", "name");

    @if $value == null {
        @return null;
    }

    $name: util.tokenize($name);
    $scheme: -resolve-scheme($scheme);

    $schemes: util.alter($-tokens, $name, ());
    $schemes: map.set($schemes, $scheme, $value);
    $-tokens: map.set($-tokens, $name, $schemes) !global;

    @return null;
}

/// Returns a CSS variable reference with an optional fallback.
/// @param {String} $name - CSS variable name
/// @param {*} $fallback - Fallback value if the variable is not defined
/// @return {String} CSS variable reference
///
/// @throws Input name is not a string
@function variable($name, $fallback) {
    $name: util.string-of($name, "variable", "name");

    $name: util.tokenize($name);
    @if $fallback == null {
        @return var($name);
    }
    @return var($name, $fallback);
}

/// Outputs CSS variables associated with a color scheme.
/// @param {String} $scheme [null] - Color scheme name
@mixin variables($scheme: null) {
    $scheme: -resolve-scheme($scheme);
    @each $name, $schemes in $-tokens {
        $v: map.get($schemes, $scheme);
        @if $v != null {
            #{$name}: $v;
        }
    }
}
