@use "../termeh.scss";

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@include termeh.define("control", "weight", 600);
@include termeh.define("font", "size", 14px);
@include termeh.define("font", "weight", 500);
@include termeh.define("font", "family", ("Space Grotesk", sans-serif));

@include termeh.define-palette("primary", #179299);

@include termeh.use-generic();

@include termeh.use-layout-helper();
@include termeh.use-text-helper();
@include termeh.use-text-colors($colors: ());
@include termeh.use-text-sizes($sizes: ());
@include termeh.use-text-weights($weights: ());
@include termeh.use-text-aligns($aligns: ());
@include termeh.use-visibility-helper();
@include termeh.use-attachment-helper();

@include termeh.use-attacher();
@include termeh.use-container();
@include termeh.use-gallery();
@include termeh.use-gaper();
@include termeh.use-grid();
@include termeh.use-landscape();
@include termeh.use-padder();
@include termeh.use-wrapper();

@include termeh.use-checkbox();
@include termeh.use-field();
@include termeh.use-fieldset();
@include termeh.use-form();
@include termeh.use-input();
@include termeh.use-radio();
@include termeh.use-select();
@include termeh.use-textarea();

.placeholder {
    display: flex;
    padding: 1rem;
    text-align: center;
    color: termeh.variant("primary", "foreground");
    background-color: termeh.color("primary");

    > * {
        margin: auto;
    }

    &.is-light {
        color: termeh.variant("primary", "readable");
        background-color: termeh.variant("primary", "light");
    }

    &.is-1x {
        min-width: 7;
    }

    &.is-2x {
        min-width: 14rem;
    }

    &.is-3x {
        min-width: 20rem;
    }

    &.is-4x {
        min-width: 30rem;
    }
}

.is-highlighted {
    box-sizing: border-box;
    border: 1px solid rgba(#ffc300, 0.35);
    background-color: rgba(#ffc300, 0.08);

    &.is-red {
        border: 1px solid rgba(#800e13, 0.35);
        background-color: rgba(#800e13, 0.08);
    }

    &.is-green {
        border: 1px solid rgba(#52796f, 0.35);
        background-color: rgba(#52796f, 0.08);
    }
}

.demo {
    display: block;
    box-sizing: border-box;
    padding: 8px;
}
