@use "../core/module";

/// Generates attacher styles with alignment and justification variants.
///
/// @require {Variable<Color>} var("base", "separator") - Divider background color
@mixin use-attacher() {
    @if not module.module-presented("attacher") {
        @include module.present-module("attacher");

        $separator: module.var("base", "separator");

        @at-root {
            .attacher {
                display: flex;
                flex-flow: row nowrap;
                align-items: stretch;
                box-sizing: border-box;

                > * {
                    flex: 0 0 auto;
                    margin: 0 !important;

                    &:not(:first-child) {
                        border-start-start-radius: 0 !important;
                        border-end-start-radius: 0 !important;
                    }

                    &:not(:last-child) {
                        border-start-end-radius: 0 !important;
                        border-end-end-radius: 0 !important;
                    }
                }

                > .filler {
                    flex: 1 1 0;
                }

                > .divider {
                    width: 1px;
                    display: block;
                    align-self: stretch;
                    background-color: $separator;
                }

                @each $name, $align in module.flex-aligns() {
                    &.is-#{$name}-align {
                        align-items: $align;
                    }
                }

                @each $name, $justify in module.flex-justifies() {
                    &.is-#{$name}-justify {
                        justify-content: $justify;
                    }
                }
            }
        }
    }
}
