@use "../termeh/termeh";

/// Generates padder element styles with configurable padding
/// @param {List} $gaps [()] - List of registered gap names to include. Pass null to include all registered gaps
@mixin use-padder($gaps: ()) {
    @at-root {
        .padder {
            display: block;
            box-sizing: border-box;

            @each $name, $gap in termeh.gaps($includes: $gaps) {
                &.is-#{$name} {
                    padding: $gap;
                }
            }
        }
    }
}
